/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
}

/* Register Page */

.left-side {
    border: rgb(37, 193, 2) solid 2px;
    background-image: linear-gradient(180deg, #50B285, #2D6A4F);
    width: 35%;
    height: 90%;
    margin: 40px 0px 30px 110px;
}

.welcome-components {
    border: rgb(0, 137, 155) solid 2px;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 70px 70px 70px 70px;
}

.welcome-text {
    border: rgb(160, 0, 182) solid 2px;
    width: 95%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10px;
    text-align: center;
    color: white;
    font-family: 'Cantata One';
    font-size: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

.logo-register {
    border: rgb(205, 7, 7) solid 2px;
    width: 95%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 30px 10px 10px 10px;
}

.right-side {
    border: rgb(216, 236, 2) solid 2px;
    width: 50%;
    height: 90%;
    margin: 40px 30px 30px 0px;
}

.close-button {
    border: rgb(0, 189, 104) solid 2px;
    display: flex;
    flex-direction: row-reverse;
    margin: 15px 15px 0px 0px;
}

.account-text {
    border: rgb(0, 19, 189) solid 2px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 10px 0px 0px 0px;
    text-align: center;
    color: #000;
    font-family: 'Cantata One';
    font-size: 20px;
}

.account-form {
    border: rgb(253, 46, 187) solid 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 10px 0px 20px 0px;
}

.register-button {
    border: rgb(1, 250, 35) solid 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.register-bnt {
    background-color: #50B385;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Cantata One';
}