/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

/* Register Page */

.register {
    border: #000 solid 2px;
    width: auto;
    height: 600px;
    margin: 75px;
}

.gradient-background {
    border: rgb(37, 193, 2) solid 2px;
    background-image: linear-gradient(180deg, #50B285, #2D6A4F);
    float: left;
    width: 640px;
    height: 100%;
    margin: 0px;
}

.welcome-components {
    border: rgb(0, 137, 155) solid 2px;
    width: 75%;
    float: center;
    height: auto;
    margin: 30px 70px 70px 70px;
}

.welcome-text {
    border: rgb(160, 0, 182) solid 2px;
    width: 95%;
    float: center;
    height: auto;
    margin: 10px;
    text-align: center;
    color: white;
    font-family: 'Cantata One';
}

img {
    max-width: 100%;
    height: auto;
}

.logo-register {
    border: rgb(205, 7, 7) solid 2px;
    width: 95%;
    float: center;
    height: auto;
    margin: 10px;
}

.white-background {
    border: rgb(216, 236, 2) solid 2px;
    float: right;
    width: 700px;
    height: 100%;
    margin: auto;
}

.button-space {
    border: rgb(3, 124, 70) solid 2px;
    float: center;
    width: 100%;
    height: 35px;
    margin: 15px 15px 0px 0px;
}

.close-button {
    border: rgb(0, 189, 104) solid 2px;
    float: right;
    width: 30px;
    height: auto;
    margin: 0px 15px 0px 0px;
}

.account-text {
    border: rgb(0, 19, 189) solid 2px;
    float: center;
    width: auto;
    height: auto;
    margin: 10px 0px 0px 0px;
    text-align: center;
    color: #000;
    font-family: 'Cantata One';
}

.account-form {
    border: rgb(253, 46, 187) solid 2px;
    float: center;
    width: 100%;
    height: auto;
    margin: 10px 0px 20px 0px;
}

.register-button {
    border: rgb(1, 250, 35) solid 2px;
    float: center;
    position: relative;
    width: 50%;
    height: auto;
    margin: 20px 100px 20px 100px;
}